<section class="content-header">
	<h1>
		<%= detail['name'] %>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Info</h3>
				</div>

				<div class="box-body no-padding">
					<div class="table-responsive">

						<table class="table">
							<tr>
								<th>Source URL:</th>
								<td>
									<a href="<%= detail['origin_url'] %>">
										<%= detail['origin_url'] %>
									</a>
								</td>
							</tr>
							<tr>
								<th>Source name:</th>
								<td>
									<%= detail['name'] %>
								</td>
							</tr>
							<tr>
								<th>Source icon:</th>
								<td>
									<div>

									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-info">
				<div class="box-header">
					<h3 class="box-title">Crawler Link</h3>
				</div>

				<div class="box-body no-padding">
					<div class="table-responsive">
						<table class="table">
							<% for (var i = 0; i < detail['crawler']['link'].length; i++) { %>
								<tr>
									<th>Link:</th>
									<td>
										<%= detail['crawler']['link'][i] %>
									</td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form id="parser_form" role="form" method="POST" action="<%= action %>">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Crawler Detail</h3>
					</div>

					<div class="box-body">
						<div class="form-group parserDetail">
							<label>Title</label>
							<input id="parser_title" name="title" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['title'] %>"
								   value="<%= detail['crawler']['detail']['title'] %>">
						</div>
						<div class="form-group parserDetail">
							<label>Date & Time</label>
							<input id="parser_datetime" name="datetime" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['datetime'] %>"
								   value="<%= detail['crawler']['detail']['datetime'] %>">
						</div>
						<div class="form-group parserDetail">
							<label>Brief</label>
							<input id="parser_brief" name="brief" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['brief'] %>"
								   value="<%= detail['crawler']['detail']['brief'] %>">
						</div>
						<div class="form-group parserDetail">
							<label>Content</label>
							<input id="parser_content" name="content" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['content'] %>"
								   value="<%= detail['crawler']['detail']['content'] %>">
						</div>
						<div class="form-group parserDetail">
							<label>Thumbnail</label>
							<input id="parser_thumbnail" name="thumbnail" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['thumbnail'] %>"
								   value="<%= detail['crawler']['detail']['thumbnail'] %>">
						</div>
						<div class="form-group parserDetail">
							<label>Author</label>
							<input id="parser_author" name="author" type="text" class="form-control"
								   placeholder="<%= detail['crawler']['detail']['author'] %>"
								   value="<%= detail['crawler']['detail']['author'] %>">
						</div>

						<div class="form-group parserDetail">
							<label>Test URL</label>
							<div class="input-group">
								<input id="test_url" name="url" type="text" class="form-control"
									   placeholder="http://"
									   value="http://">
								<span class="input-group-btn">
									<button id="test_parser" type="button" class="btn btn-primary">Crawl</button>
									</span>
							</div>
						</div>

						<div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">
                                Submit
                            </button>
                            <button type="reset" class="btn pull-right margin-r-5">
                                Reset
                            </button>
                        </div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<div class="modal" id="myModal">
	<div class="modal-dialog" style="width: 95%;height: 95%">
		<div class="modal-content" style="height: auto;min-height: 100%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Test Parser</h4>
			</div>
			<div class="modal-body" id="modalBody" style="height:auto;min-height: 100%">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab_1" data-toggle="tab">Web</a></li>
						<li><a href="#tab_2" data-toggle="tab">Crawled Data</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">

						</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="tab_2">
							<form method="POST" action="/sources/addData">
								<input type="hidden" name="source_id" value="<%= detail._id %>" >
								<div class="form-group" id="crawled_title">
									<label>Tiêu đề</label>
									<input type="text" name="crawled_title" class="form-control">
								</div>

								<div class="form-group" id="crawled_datetime">
									<label>Thời gian đăng bài</label>
									<input type="text" name="crawled_datetime" class="form-control">
								</div>

								<div class="form-group" id="crawled_brief">
									<label>Đoạn mô tả ngắn</label>
									<input type="text" name="crawled_brief" class="form-control">
								</div>

								<div class="form-group" id="crawled_thumbnail">
									<label for="exampleInputFile">Hình Thumbnail</label>
									<input type="text" class="form-control" name="crawled_thumbnail" />
								</div>

								<div class="form-group">
									<label>Nội dung</label>
									<textarea id="crawled_detail" name="crawled_detail"  rows="10" cols="80" class="form-control"></textarea>
								</div>

								<div class="form-group" id="crawled_author">
									<label>Tác giả</label>
									<input type="text" name="crawled_author" class="form-control" />
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-primary" style="float: right;"  value="Lưu"/>
								</div>
							</form>
						</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>