<section class="content-header">
    <h1>
        Tin Tức
        <small>HCMC-STUDENTS</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tin Tức</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><%= news.topic %></h3>
                    <a class="btn btn-primary pull-right add_news">Thêm Tin Tức</a>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Các Tin Tức</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < news.news.length; i++) { %>
                                <tr>
                                    <td>
                                        <strong><a href="/<%= news._id %>/<%= news.news[i]._id %>"><%= news.news[i].title %></a></strong>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>            
<section>

<div class="modal" id="modal_news">
    <div class="modal-dialog" style="width: 60%;height: 50%">
        <div class="modal-content" style="height: auto;min-height: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm Tin Tức</h4>
            </div>

            <div class="modal-body" id="modalBody" style="height:auto;min-height: 100%">
                <div class="row">
                    <div class="col-xs-12">
                        <form method="POST" action="/add/news" enctype="multipart/form-data">
                            <div class="box">
                                <div class="box-body">
                                    <div class="form-group">
                                        <input type="hidden" name="_id" class="form-control" value=<%= news._id %>>
                                    </div>

                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input type="text" name="title" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Đoạn mô tả ngắn</label>
                                        <textarea type="text" name="brief" class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Hình Thumbnail</label>
                                        <input type='file' id="thumbnail" name="thumbnail"/>
                                        <img id="blah" src="#" height="100px;" width="100px;" />
                                    </div>

                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea id="editor1" name="content" rows="10" cols="80" class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-default" style="float: right;"/>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



