<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sự Kiện
    <small>HCMC-STUDENTS</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Sự Kiện</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">
            <%= news.title %>
              <small>HCMC-STUDENTS</small>
          </h3>
          <a class="btn btn-primary pull-right" href="/event/<%= news._id %>/register">Danh sách tham gia</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body pad">
          <form action="/event/<%=news._id%>/update" method="POST" enctype="multipart/form-data">
            <div class="form-group" style="width: 30%;">
              <%if (news.is_accept == true) {%>
                <h4><span class="label label-success">Bài đã kiểm duyệt</span></h4>
                <%} else {%>
                  <h4><span class="label label-danger">Bài chưa kiểm duyệt</span></h4>
                  <%}%>
            </div>

            <div class="form-group">
              <label>Tiêu đề</label>
              <input type="text" name="title" value="<%= news.title %>" class="form-control">
            </div>

            <div class="form-group">
              <label>Đoạn mô tả ngắn</label>
              <textarea type="text" name="brief" class="form-control"><%= news.brief %></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputFile">Hình Thumbnail</label>
              <input type='file' id="thumbnail" name="thumbnail" />
              <img id="blah" src="<%=news.thumbnail%>" height="100px;" width="100px;" />
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label>Ngày bắt đầu:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="datetime-local" value="<%= start %>" name="startDate" class="form-control pull-right">
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>Ngày kết thúc:</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="datetime-local" value="<%= end %>" name="endDate" class="form-control pull-right">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Địa điểm</label>
              <input type="text" value="<%=news.address%>" name="address" class="form-control">
            </div>

            <div class="form-group">
              <label>Số lượng đăng kí</label>
              <input type="number" value="<%= news.number %>" name="number" class="form-control">
            </div>

            <div class="form-group">
              <label>Hạn đăng kí</label>
              <input type="datetime-local" value="<%= deadline %>" name="deadline" class="form-control pull-right">
            </div>

            <div class="form-group">
              <label>Nội dung</label>
              <textarea id="editor1" name="content" rows="10" cols="80" class="form-control">
                        <%= news.content %>
                    </textarea>
            </div>

            <div class="form-group">
              <h4>
                <strong>Xác nhận đăng bài</strong>
                <%if (news.is_accept == true) { %>
                  <input type="checkbox" name="is_accept" checked style="margin-left: 10px;">
                  <% } else { %>
                    <input type="checkbox" name="is_accept" style="margin-left: 10px;">
                    <% } %>
              </h4>
            </div>

            <div class="form-group">
              <input type="submit" class="btn btn-default" style="float: right;" />
            </div>
          </form>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col-->
  </div>
  <!-- ./row -->
</section>
<!-- /.content -->
<script>
  $(function () {
    CKEDITOR.replace('editor1');
  });
</script>